body{
    margin: 0;
    padding-top: 800px;
    text-align: center;
}
.perfil{
    border-radius: 50%;
}
#BemVindo{
    position: absolute;
    bottom: 0;
    background:linear-gradient(#2d633a 0%,#08749c 100%);
    display: table;
    width:100%;
    height:100%;
}
h1{
    font-size:  30px;
    font-family:'Bookman Old Style';
    font-weight: 300;
}
#nome{
    font-size:50px;
    font-family:'Shizuru',cursive;
    
}
h2{
    font-size:  30px;
    font-family:'Bookman Old Style';
    font-weight: 300;
}
#bio{
    padding:50px;
    font-family:'Shizuru',cursive;
    font-size:  30px;
}
.linha{
    height:6px;
    background-color: #ab1bb3;
    width:70px;
    margin:80px auto;
}
.parallax-inner{
    display:table-cell;
    vertical-align:middle;
}
.menu{
    
    position:fixed;
    top:0px;
    background:#ff8f5c;
    z-index:10;
    cursor: pointer;
    width:100%;
    margin-top: 0px;
}
.links{
    
   
    padding-left:33px;
    padding-right:25px;
    display:inline;
    font-family:'Harlow Solid Italic';
    font-size:15px;

}
.links:hover{
    font-size:30px;
    text-decoration:underline;
}
a{

    text-decoration: none;
}
#escritos a{
    text-decoration:underline !important;
    color: #aeff5c !important;

}
#Contato{
    background:#b82386;
} 
#Contato iframe{
    width:100%;
}

.Contato1 h3{
     display:inline;
}